

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Splash&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color:#b8dbb8;
    background-image:linear-gradient(315deg,#bddbb8 0%,#f5f7f7 100%);
    font-family: 'Great vibes';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

button {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}